/*boddy styles */
body{
font-family: 'Roboto', sans-serif;
background-color: #ffffff;
color: #434455;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
ul{
list-style: none;
}
/* head*/
.logo{
    text-decoration: none;
    color: #4D5AE5;
    Font-family: Raleway;
    Font-style: ExtraBold;
    font-size: 18px;    
    Line-height: 114%;
    font-weight: 800;
    cursor: pointer;
}
.part-logo{
    color: #2E2F42;
} 
.logo:focus
.logo:hover {
    color: black;
} 

/*site nav*/
.site-nav .link{
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.28;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: #4D5AE5;
}
.site-nav .link:active{
    color: #4D5AE5;
}
/*contacts*/
.contacts .mail{
    text-decoration: none;
    color: #434455;
    Font-size: 16px;
    Line-height: 1.28;
    cursor: pointer;
}
.contacts .mail:hover,
.contacts .mail:focus{
    color: #4D5AE5;
}


/*Main*/
/*Hero*/
.hero{
    background-color: #2E2F42;
}
.hero-title{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.button{
    color:#ffffff;
    background-color: #4D5AE5;
    font-size: 16px;
    Line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-family: 'Roboto';
    cursor: pointer;
}
.button:hover
.button:focus{
    background-color:#404BBF;
    ;
}
/*section */
.content-title{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.28;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.content{
    Font-size: 16px;
    Line-height: 1.28;
}
/*What are we doing*/
.section-title{
    color: #2E2F42;
    font-weight: 700;
    Font-size: 36px;
    Line-height: 0.95;
    letter-spacing: 0.02em;
}
/*team*/
.team{
    background-color: #F4F4FD;
}
.name{
    color: #2E2F42;
    Font-size: 20px;
    Line-height: 1.02;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.position{
    Font-size: 16px;
    Line-height: 1.28;
    letter-spacing: 0.02em;
}
/*footer*/
footer{
    background-color: #2E2F42;
}
.footer-logo{
    color: #F4F4FD;
    Font-family: Raleway;
    Font-size: 18px;
    Line-height: 1;
}
.footer-slogan{
    color: #E7E9FC;
    Font-size: 16px;
    Line-height: 1.28;
    letter-spacing: 0.02em;
}

/*Portfolio*/
.servises{
    color: #2E2F42;
    Font-size: 20sp;
    Line-height: 1.02;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.view{
    Font-size: 16sp;
    Line-height: 1.28;
    letter-spacing: 0.02em;
}
.button-all
{
    font-style: 'Roboto';
    color: #ffffff;
    background-color: #4D5AE5;
    font-size: 16px;
    Line-height: 1.28;
    font-weight: 700;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-all:hover
.button-all:focus{
    color:#ffffff;
    background-color: #404BBF;
}


.button-icon{
    font-style: 'Roboto';
    color: #4D5AE5;
    background-color: #F4F4FD;
    Font-size: 16px;
    Line-height: 1.28;
    font-weight: 700;
    letter-spacing: 0.04em;

    cursor: pointer;
}

.button-icon:focus
.button-icon:hover{
    color: #4D5AE5;
    background-color: #F4F4FD;
}
